@page
@model HealthCheckModel
@{    
    ViewData["Title"] = "Health Check page";
}
Redirect("/");

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>>
    <p class="display-4">The application is healthy!</p>
</div>

